<div class='tab-pane active filtered' id='summary'>
SUMMARY RESULTS for <span class='query'><strong>{{ filter_query }}</strong></span> search, {{ total_results }} total

{% include "pagination.html" %}

{% include "peak_table.html" %}

</div> <!-- end 'summary' -->

