<div class="container-fluid">
  <div class="row-fluid">

  <div class="span5">{{ gene.geneName }} Gene Information</div>
  <div class="span2 offset4"><button id='download' 
				     class='btn btn-default'>Download</button></div>
  </div> <!-- end row -->
  <div class="row-fluid">
    <div class="span3"><b>Species:</b></div>
    <div>{{ gene.species }}</div>
  </div> <!-- end species row -->
   <div class="row-fluid">
     {% if gene.description %} 
          <div class='span3'><b>Description:</b></div>
          <div>{{ gene.description }}</div>
     {% endif %}
</div> <!-- end description row -->

   {% if gene.homolog.entrezId is defined %}
      {% include "homolog.html" %}
   {% endif %}
  
  {% if gene.peaks %}
     {% include "peak_table.html" %}
  {% endif %}
 

</div> <!-- end container-fluid -->



