<div id='gene_search' class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#left-col" href='#gene_collapse'><h5>Search by genes:</h5></a>
  </div> <!-- end accordion-heading -->
  <div id='gene_collapse' class='accordion-body collapse in'>
    <div class="accordion-inner">
      <form id='genes_form' class='form-search'>
<!--      <div id='searchGenes'><button class='btn btn-mini' type='button' data-toggle="button">All</button>
      </div> <!-- end searchGenes -->
      
   <input type='text' class='input-medium search-query' id='geneQuery'>
      <button type='submit' class="btn" id='geneSearch'>Search</button><br>
<!--       <a class='btn' href='#'><i class='icon-plus-sign'></i>&nbsp;Add a gene</a> -->
    </form>
      <h6>Please separate multiple genes with a ","</h6>
      </div> <!-- end accordion-inner -->
  </div> <!-- end accordion-body collapse-->

</div> <!-- end gene_search/accordion group -->
