{% extends "base.html" %}

{% block content %}
  {{ super() }}

<div class="container-fluid">
  <div class="row-fluid">
    <div id="left-col" class="span4 accordion">  <!-- sidebar/search content -->
      {% block searchcol %}
        {% include "gene_search.html" %}
        {% include "filter.html" %}
      {% endblock %} <!-- end searchcol block -->
    </div> <!-- end left column -->

    <div id="right-col" class="span8 results"> <!-- main content/search results -->
      {% block results %}
    
      <ul class='nav nav-tabs' id="results-tabs">
	<li class='active'><a href="#summary" data-toggle='tab'>Summary</a></li>
      </ul>
      
      <div class='tab-content' id="results-content">
	{% block summary_results %}{% endblock %}
      </div> <!-- end tab-content -->

	<div><button id='download' class='btn btn-default'>Download</button></div>
	
      {% endblock %} <!-- end results block -->
    </div> <!-- end results/right column -->

   </div> <!-- end row-fluid -->
</div> <!-- end container-fluid -->
 
<!-- need some js to toggle between tabs/show different gene data -->

{% endblock %}
